<% if current_user.photos.any? %>

<% for i in 0...current_user.photos.size %>

<div class="col-lg-3 p-3">
   <%= image_tag new_arr(current_user)[i],Alt: "anh2",class: "card-img-top openImageDialog thumbnail anh2" ,href:  '#gardenImage' ,data: { id: new_arr(current_user)[i],toggle: 'modal' }%>

   <div class="card-body">
     <div class="card-title">
       Photo title gose here
     </div>
   </div>
</div>

<% end %>
<% end %>

